.main-page{
    min-height: 85vh;
    .promo-info {
        display: flex;
        .promo-title{
            padding-top: 200px;
            font-size: 4.5rem;
            text-align: start;
        }
    }


}

