.main-page{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .wrapper{
        display: flex;
        flex-direction: column;
        .promo-info {
            display: flex;
            .promo-title{
                padding-top: 100px;
                font-size: 4rem;
                text-align: start;
                background: -webkit-linear-gradient(#89abb9 51%, #b1beeb 100%);
                background-clip: text;
                
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .icons{
            display: flex;
            justify-content: space-between;
            margin-top: 150px;
            .icon{
                flex-direction: column;
            }
            
        }
    }
    
}



.fa-react, .fa-css3-alt, .fa-js, .fa-html5, .fa-python{
    font-size: 5rem;
    opacity: 0.9;
    transition: 0.3s ease;

    
}

.fa-react:hover, .fa-css3-alt:hover, .fa-js:hover, .fa-html5:hover, .fa-python:hover{
    color: #b1beeb;
    cursor: pointer;
}

.fa-react {
    color: rgba(62, 62, 177, 0.932);
    
}
.fa-html5 {
    color: red;
}
.fa-css3-alt{
    color: orange;
}
.fa-js{
    color: rgba(226, 226, 6, 0.897);
}
.fa-python{
    color: rgba(255, 255, 0, 0.897);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba(1, 22, 107, 0.493);
}


.main-projects {
    min-height: 100vh;
    width: 100%;
}

.main-about{
    min-height: 100vh;
    width: 100%;
}