<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,900&family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="css/style.min.css")
        <script src="https://kit.fontawesome.com/4dc6de2dc7.js" crossorigin="anonymous"></script>
        
        title IamSoPrada
    body#body
        include ../components/header
        block content
        include ../components/footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/ScrollToPlugin.min.js")
        script(src="./js/scriptGSAP.js")
        script(src="./js/nightmode.js")



