.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
    z-index: 2;
}
.header-logo{
    margin-right: auto;
    font-size: 1.3rem;
    cursor: pointer;
}
.header-ul{
    list-style: none;
    .header-li{
        display: inline-block;
        padding: 0 20px;
        a {
            transition: 0.4s ease 0s;
            text-decoration: none;
            color: #000000;
            
        }
        a:hover {
            color: #30c749;
        }
    }
}
.header-li a{
    font-size: 1.2rem;
}
.contact-btn{
    margin-left: 35px;
    margin-right: 35px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    transition: 0.4s ease 0s;
}
.contact-btn:hover {
    transform: scale(1.2);
}
.fa-moon{
    font-size: 2rem;
    cursor: pointer;
}