footer.footer
    .container
        .footer-links
            a(href="https://github.com/IamSoPrada") GitHub
            a(href="https://www.facebook.com/rustem.tarasevich.9/") Facebook
            a(href="https://vk.com/millionrares") VK
            a(href="https://vk.com/millionrares") Telegram
    