header.header
    nav.header-nav
        ul.header-ul
            li.header-li: a(href="../public/index.html") Главная
            li.header-li: a(href="../public/projects.html") Проекты
            li.header-li: a(href="../public/about.html") Об авторе
            li.header-li: a(href="../public/contact.html") Связаться