extends _layouts\main

block content
    main
        section.main-page
            .container
                .promo-info
                    h1.promo-title Hello, My name is Rustem. And I am beginner JS Developer.