extends _layouts\main

block content
    main
        section.main-page
            .container
                .promo-info
                    h1.promo-title Привет! Меня зовут Рустем.<br> Я начинающий Frontend Developer :)
                .icons
                    .icon
                        <i class="fab fa-html5"></i> 
                    .icon
                        <i class="fab fa-css3-alt"></i> 
                    .icon
                        <i class="fab fa-js"></i>
                    .icon
                        <i class="fab fa-python"></i> 
                    .icon
                        <i class="fab fa-react"></i> 

        