extends _layouts\main

block content
    main
        section.main-page
            .container
                .promo-info
                    h1.promo-title Hello, my name is <br> Rustem Tarasevich.<br> I am beginner JS Developer :)